@media (max-width:584px) {
    container{
        max-width: 100px;
        margin: 20px auto;
        background: #fff;
        overflow: hidden;
        padding: 10px;
    }
    .header{
        border: 1px solid #dedede;
        padding: 10px;
        margin: 10px;
    }
    /* Bagian Main */
        .left{
            width: 250px;
            border: 1px solid #dedede;
            background: #eaeaea;
            padding: 10px;
            margin: 10px;
            float: left;
        }
        .middle{
            width: 500px;
            border: 1px solid #dedede;
            padding: 10px;
            margin: 10px;
            float: left;
        }
            .middle img{
                max-width: 100%;
                height: auto;
            }
        .right{
            width: 250px;
            border: 1px solid #dedede;
            padding: 10px;
            margin: 10px;
            float: left;
        }
    .footer{
        clear: both;
        border: 2px solid #2d2d2d;
        color: #fff;
        background-color: #2d2d2d;
        padding: 10px;
        margin: 10px;
    }
        .footer a{
            color: #fff;
        }
            .footer a:hover{
                color: #eaeaea;
            }
}            

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    height: 100vh;
    background-image: url(img/background.jpeg);
    background-position: center;
    background-size: cover;
}

.detel {
    margin-left: 8%;
    margin-top: 10%;
}

.detel hl {
    font-size: 150px;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-weight: bold;
}

.detel p {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: bold;
}

.detel a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images {
    width: 70%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}


